@import url(/css/variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /* background: red; */
    display: flex;
    width: 645px;
    height: 255px;
    padding-top: 64px;
    padding-left: 64px;
}
header h1{
    font-size: 88px;
    font-family: "Avenir-Heavy";
    color: var(--color-2);
}
.section__container{
    /* background: green; */
    display: flex;
    padding: 64px;
}
.article__container{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 64px;

}
.article__container h3{
    font-family: "Avenir-Heavy";
    font-size: 32px;
    color: var(--color-3);
}
.article__container p{
    font-family: "Avenir-Roman";
    font-size: 24px;
    color: var(--color-4);
}
.article__container img{
    height: 334px;
    width: 348px;

}