@import url(/css/variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: red;
    display: flex;
}
.div__text{
    background: pink;
    display: flex;
    flex-direction: column;
    width: 483px;
    height: 426px;
    margin-top: 181px;
    margin-left: 131px;
    gap: 20px;
}
.div__text h1{
    font-family: "Avenir-Heavy";
    font-size: 72px;
}
.div__text p{
    font-family: "Avenir-Roman";
    font-size: 24px;
}
.div__button{
    background: var(--color-1);
    width: 288px;
    height: 66px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div__button a{
    color: var(--color-2);
    text-decoration: none;
}